.paginationContainer {
  display: flex;
  justify-content: center;
  // background-color: #2a2a2a;
}

.pageBtn {
  width: 40px;
  height: 40px;
  margin: 0px 4px;
  font-weight: 700;
  border-radius: 10px;

  &--dark {
    color: var(--light-components-cl);
    background-color: var(--components-cl);
  }

  &--light {
    background-color: #e9f0ff;
    color: var(--secondary-txt-cl);
  }

  &:hover {
    box-shadow: 1px 2px 8px rgba(1, 37, 233, 0.54);
  }
}

.activePageBtn {
  composes: pageBtn;
  background-color: var(--accent-cl);
}

.arrowBtn {
  composes: pageBtn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowBtnDisabled {
  composes: arrowBtn;

  & path {
    stroke: var(--secondary-txt-cl);
  }

  &:hover {
    box-shadow: none;
  }
}
