input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
input[type='radio'] + .radio {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--disabled-cl);
  transform: translateY(-50%);
  border-radius: 50%;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-txt-cl);
    border: none;
    border-radius: 50%;
    opacity: 0;
  }
}
input[type='radio']:checked + .radio {
  background-color: transparent;
  border: 2px solid var(--primary-txt-cl);
  &::before {
    opacity: 1;
  }
}

.label {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.55;
  display: flex;
  justify-content: start;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  position: relative;
  padding-left: 42px;
}

.container {
  width: 536px;
  height: 66px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 27px;
  background-color: #121533;
  border-radius: 5px;
}
