.labelPassTest {
  display: block;
  position: relative;
  width: 536px;

  font-weight: 500;
  font-size: 17px;
  color: var(--primary-txt-cl);
  background-color: var(--components-cl);
  border-radius: 5px;
  padding: 20px 20px 20px 69px;
  margin: 24px;

  &::before {
    position: absolute;
    top: 50%;
    left: 27px;
    transform: translateY(-50%);
  
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--disabled-cl);
  }  
}

.labelPassTest input {
  display: none;
}

.labelPassTest--checked {
  composes: labelPassTest;

  &::before {
    background-color: transparent;
    border: 2px solid var(--primary-txt-cl);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);

    display: block;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--primary-txt-cl);
  }
}

.labelPassTest--wrong {
  composes: labelPassTest;
  background-color: var(--wrong-cl);

  &::before {
    background-color: transparent;
    border: 2px solid var(--primary-txt-cl);
    background-image: url('../../assets/images/javascript.png');
  }
}

.labelPassTest--right {
  composes: labelPassTest;
  background-color: var(--right-cl);

  &::before {
    background-color: transparent;
    border: 2px solid var(--primary-txt-cl);
    background-image: url('../../assets/images/javascript.png');
  }
}


