.list {
  display: flex;
}
.item + .item {
  margin-left: 16px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;

  transition: background-color var(--transition), color var(--transition);
}
.link--dark {
  composes: link;
  background-color: var(--secondary-cl);
  &:hover {
    box-shadow: var(--shadow-blue);
  }
}
.link--light {
  composes: link;
  background-color: var(--light-primary-cl);
}
.icon {
  display: block;
}
.icon--dark {
  composes: icon;
}
.icon--light {
  composes: icon;
}
