.testsPage {
    background-color: var(--primary-cl);
    padding: 22px 60px 15px 24px;
    height: 100vh;

    .testsPage__title {
        font-size: 30px;
        font-weight: 800;
        color: var(--primary-txt-cl);
    }

    .testsPage__inputWrapper {
        display: flex;
        gap: 12px;
    }

    .testsPage__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
}
.testsPage__headerContainer{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.testsPage__iconBook{
    path{
        fill: var(--secondary-txt-cl);
    }
}
.testsPage__button{
    padding: 11px 22px;
    display: flex;
    align-items: center;
    gap: 9px;
    background-color: var(--disabled-cl);
    border-radius: 5px;
    color: var(--secondary-txt-cl);
}
.testsPage__testList{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 13px;
}
.testsPage__filters{
    display: flex;
    justify-content: space-between;
}
.testsPage__btnContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    button{
        padding: 11px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: var(--components-cl);
        &:first-child{
            path{
                fill:var(--secondary-txt-cl)
            }
            
        }
        &:nth-child(2){
            background-color: var(--accent-cl);
        }
        &:last-child{
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
}

.testsPage__funnel{
    path{
        stroke: white;
    }
}
.testsPage__gridHorizontal{
    path{
        stroke:white
    }
}

