.sliderContainer {
  position: relative;
  width: 100%;
}
.slider {
  width: 596px;
  overflow: hidden;
}
.cardList {
  display: flex;
  padding: 4px;
  column-gap: 28px;
  transition: var(--transition);
}

.card {
  width: 284px;
  &:hover {
    box-shadow: var(--shadow-blue-small);
  }
}
.card--dark {
  composes: card;
  background-color: var(--secondary-cl);
}
.card--light {
  composes: card;
  background-color: var(--light-cards-cl);
}

.buttonList {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -48px;
  right: 0px;
}
.buttonItem + .buttonItem {
  margin-left: 16px;
}

.button {
  transition: var(--transition);
}
.button--dark {
  composes: button;
  background-color: var(--secondary-cl);
  &[disabled] {
    cursor: default;
    & svg path {
      stroke: var(--secondary-txt-cl);
    }
  }
  &[disabled]:hover {
    box-shadow: none;
  }
}
.button--light {
  composes: button;
  background-color: var(--light-primary-cl);
  &[disabled] {
    cursor: default;
    & svg path {
      stroke: var(--secondary-txt-cl);
    }
  }
  &[disabled]:hover {
    box-shadow: none;
  }
}
