.card--small {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--components-cl);
  border-radius: 10px;
  padding: 36px 13px 28px 16px;
  transition: box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition);

  &:hover,
  &:focus {
    box-shadow: var(--shadow-blue-small);
  }
}

.card--large {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--components-cl);
  border-radius: 10px;
  padding: 16px 107px 16px 73px;
  transition: box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition);

  &:hover,
  &:focus {
    box-shadow: var(--shadow-blue-small);
  }
}

.card--large.cardLargeDisabled.card--dark,
.card--small.cardLargeDisabled.card--dark {
  background-color: #272a42;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}
.card--large.cardLargeDisabled.card--light,
.card--small.cardLargeDisabled.card--light {
  background-color: var(--light-cards-cl);

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.card {
  &--light {
    background-color: var(--light-components-cl);
    box-shadow: var(--light-primary-shadow);
  }

  &--dark {
    background-color: var(--components-cl);
  }
}

.card__author {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 0px;
  padding: 4px 8px;

  transition: background-color var(--transition), color var(--transition);

  &--light {
    background-color: var(--light-primary-cl);
    color: var(--light-primary-txt-cl);
  }

  &--dark {
    background-color: var(--disabled-tag-cl);
    color: var(--primary-txt-cl);
  }
}

.card__content {
  .card--large & {
    padding-right: 16px;
    width: 35vw;
  }

  .card--small & {
    margin-bottom: 12px;
  }
}

.card__title {
  font-weight: var(--bold);
  font-size: var(--text-lg);
  line-height: 1.5;
  margin-bottom: 4px;
  word-wrap: break-word;

  &--light {
    color: var(--light-primary-txt-cl);
    transition: color var(--transition);
  }

  &--dark {
    color: var(--primary-txt-cl);
    transition: color var(--transition);
  }
}

.card__text {
  font-size: var(--text-md);
  line-height: 1.43;
  color: var(--secondary-txt-cl);
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;

  .card--small & {
    -webkit-line-clamp: 2;
  }

  .card--large & {
    -webkit-line-clamp: 1;
  }
}

.card__wrapper {
  .card--large & {
    display: flex;
    align-items: center;
  }

  .card--small & {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.card__addWrapper {
  display: flex;
  align-items: center;

  .card--small & {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 12px;
  }
}

.card--small .card__listWrapper {
  display: flex;
  flex-grow: 1;
}

.card__list {
  display: flex;
  column-gap: 4px;
  row-gap: 8px;
  flex-wrap: wrap;

  .card--large & {
    width: 202px;
  }

  .card--small & {
    margin-bottom: 17px;
  }
}

.card--large .card__number,
.card--large .card__time,
.card--large .card__listWrapper {
  position: relative;

  &::before {
    display: block;
    content: '';
    height: 76px;
    width: 2px;
    background-color: #020626;
    border-radius: 2px;
    transition: background-color var(--transition);
  }
}

.card--large.card--light .card__number,
.card--large.card--light .card__time,
.card--large.card--light .card__listWrapper {
  &::before {
    background-color: var(--light-primary-cl);
    transition: background-color var(--transition);
  }
}

.card--large .card__time,
.card--large .card__number,
.card--large .card__listWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card--large .card__number,
.card--large .card__listWrapper {
  padding-right: 16px;
}

.card__percentageOfCorrectAnswers {
  font-weight: var(--bold);
  font-size: 20px;

  .card--small & {
    font-size: 12px;
  }
}

.available {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 91px;
  padding: 12px;

  font-weight: 700;
  font-size: 12px;
  background-color: var(--right-cl);
  border-radius: 0px 10px 10px 0px;

  .card--small & {
    top: calc(100% - 20px);
    right: 0;
    height: 20px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }
}

.tryAgain {
  composes: available;
  flex-direction: column;
  color: var(--components-cl);
  background-color: var(--message-cl);

  .card--small & {
    flex-direction: row;
  }
}

.disabled {
  composes: available;
  background-color: var(--disabled-cl);
}

.done {
  composes: available;
  flex-direction: column;
  gap: 8px;

  .card--small & {
    flex-direction: row;
    gap: 4px;
  }
}

.failed {
  composes: available;
  flex-direction: column;
  gap: 8px;
  background-color: #b13250;

  .card--small & {
    flex-direction: row;
    gap: 4px;
  }
}

.iconLarge {
  margin-bottom: 7px;
  svg {
    width: 18px;
    height: 18px;
  }
}

.iconSmall {
  margin-right: 10.25px;
  svg {
    width: 13.5px;
    height: 13.5px;
  }
}
