.floatingGroup {
  position: relative;
}

.floatingLabel {
  position: absolute;
  color: inherit;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
  transition: font-size var(--transition), top var(--transition),
    left var(--transition);
}

.inputDark {
  padding: 13px 16px;
  width: 100%;
  height: 100%;

  font-size: 16px;
  line-height: 1;

  background-color: transparent;

  border: 1px solid var(--disabled-cl);
  border-radius: 4px;
  outline: none;

  transition: border var(--transition);

  &::placeholder {
    color: transparent;
  }

  &:focus {
    outline: none;
  }

  &:focus + .floatingLabel,
  &:not(:placeholder-shown) + .floatingLabel,
  &:-webkit-autofill + .floatingLabel {
    padding: 0px 4px;
    top: -70%;

    font-size: 12px;

    background-color: var(--primary-cl);

    transition: background-color var(--transition), top var(--transition),
      left var(--transition);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    caret-color: var(--light-primary-cl);
    -webkit-text-fill-color: var(--primary-txt-cl);
    -webkit-background-clip: text;
  }
}

.inputLight {
  composes: inputDark;

  border: 1px solid var(--light-primary-cl);
  box-shadow: 2px 2px 8px rgba(95, 117, 238, 0.11);

  transition: border var(--transition);

  &:focus + .floatingLabel,
  &:not(:placeholder-shown) + .floatingLabel {
    background-color: var(--primary-txt-cl);

    transition: background-color var(--transition), top var(--transition),
      left var(--transition);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    caret-color: inherit;
    -webkit-text-fill-color: inherit;
    -webkit-background-clip: text;
  }
}

.errorMsg {
  position: absolute;
  bottom: -34px;
  left: 15px;

  font-size: 12px;

  color: var(--error-cl);
}

.floatingLabelError input {
  color: var(--error-cl);
}

.floatingLabelError * {
  border-color: var(--error-cl);

  svg > path {
    stroke: var(--error-cl);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: var(--error-cl);
    -webkit-background-clip: text;
  }
}

.floatingLabelValid input {
  color: var(--success-cl);
}

.floatingLabelValid * {
  border-color: var(--success-cl);

  svg > path {
    stroke: var(--success-cl);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: var(--success-cl);
    -webkit-background-clip: text;
  }
}
