.wrapper {
  width: 596px;
  padding: 20px 104px 20px 20px;
  border-radius: 4px;

  &--dark {
    background-color: var(--components-cl);
  }
  &--light {
    background-color: var(--light-components-cl);
    color: var(--components-cl);
  }
}

.title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
}

.description {
  width: 430px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
}
