.tag--common {
  display: inline-block;
  font-family: var(--font-family);
  font-size: 12px;
  border: 1px solid #464962;
  border-radius: 15px;
  background-color: transparent;
}

.tag--field {
  font-weight: 400;
  line-height: 1.2;
  color: #3653f2;
  padding: 4px 8px;
}

.tag--questions {
  font-weight: 500;
  line-height: 1;
  color: #9d9fb5;
  padding: 9px 18px;
}

.tag--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #9d9fb5;
  border-radius: 20px;
  padding: 8px 15px;
}

.tag--time {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 44px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  color: #f8f8f8;
  background-color: transparent;
}

.tag--time::before,
.tag--time::after {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  content: '';
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid #3653f2;
}

.tag--time::before {
  border-top-color: transparent;
  transform: rotate(-45deg);
}

.tag--time::after {
  border-left-color: transparent;
  transform: rotate(100deg);
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 35px;
  text-align: center;
}
