.timer {
  font-weight: var(--bold);
  font-size: var(--text-lg);
  text-align: right;
}

.timer--light {
  composes: timer;
  color: var(--accent-cl);
}

.timer--dark {
  composes: timer;
  color: var(--primary-txt-cl);
}

.timer__text {
  margin-bottom: 4px;
}
