.form {
  min-height: 374px;

  display: flex;
  flex-direction: column;
}

.formTitle {
  margin-bottom: 20px;
}

.roleList {
  margin-bottom: 24px;

  display: flex;
  gap: 24px;

  color: var(--secondary-txt-cl);

  input:checked + .roleBtnDark {
    color: var(--primary-txt-cl);
    border-color: var(--accent-cl);
  }

  input:checked + .roleBtnLight {
    color: var(--accent-cl);
    border-color: var(--accent-cl);
    background: rgba(42, 85, 246, 0.03);
  }
}

.icon {
  color: inherit;

  path {
    stroke: currentColor;
  }
}

.roleBtn {
  padding: 20px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  font-weight: var(--bold);
  text-align: left;

  border: 1px solid var(--secondary-txt-cl);
  border-radius: 4px;

  cursor: pointer;
}

.placeholder{
  position: absolute;
  top: 15px;
  left: 16px;

  display: inline-block;

  color: inherit;

  transition: transform var(--transition), font-size var(--transition);
}

.codeInputDark {
  padding: 15px;
  margin-bottom: 22px;
  width: 100%;

  position: relative;

  line-height: 1;

  border: 1px solid var(--disabled-cl);
  border-radius: 4px;

  outline: none;

  background-color: transparent;

  &:not(:placeholder-shown) + .placeholder,
  &:focus + .placeholder {
    padding: 0 4px;
    transform: translateY(-23px);

    font-size: var(--text-sm);

    background-color: var(--primary-cl);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    caret-color: var(--light-primary-cl);
    -webkit-text-fill-color: var(--light-primary-cl);
    -webkit-background-clip: text;
  }
}

.codeInputLight {
  composes: codeInputDark;

  border: 1px solid var(--light-primary-cl);
  box-shadow: 2px 2px 8px rgba(95, 117, 238, 0.11);

  &:not(:placeholder-shown) + .placeholder,
  &:focus + .placeholder {
    background-color: var(--light-cards-cl);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    caret-color: inherit;
    -webkit-text-fill-color: inherit;
    -webkit-background-clip: text;
  }
}

.buttonsTitle {
  margin-bottom: 8px;

  font-weight: var(--bold);
}

.buttonsList {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: var(--text-md);

  & > li:last-child {
    margin-top: auto;
    font-size: 14px;
  }
}

.label {
  position: relative;
}

.valid {

  & > input:not(:placeholder-shown) {
    border-color: var(--success-cl);
    color: var(--success-cl);
  }

  &::after {
    content: '';
    position: absolute;
    top: 14px;
    right: 12px;
    width: 24px;
    height: 24px;
    background-image: url('assets/svg/check-validation.svg');
  }
}

// .invalid {
  // color: var(--error-cl);

  // & > input:not(:placeholder-shown) {
  //   border-color: var(--error-cl);
  // }

  // &::before{
  //   content: 'Спробуйте інший код';
  //   position: absolute;
  //   bottom: -34px;
  //   left: 16px;
  //   display: inline-block;
  //   font-size: var(--text-sm);
  //   color: var(--error-cl);
  // }

  // &::after{
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   right: 12px;
  //   width: 24px;
  //   height: 24px;
  //   background-image: url('assets/svg/warning-circle.svg');
  // }
// }

.companyNameDark {
  padding: 13px 0;
  font-weight: inherit;
  color: inherit;
  border-width: 1px;
}

.companyNameLight {
  composes: companyNameDark;
  background: var(--light-primary-cl);
}
