.testsSearch {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.testsSearch__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.testsSearch__title {
  font-size: 30px;
  font-weight: 800;

  &--light {
    color: var(--light-primary-txt-cl);
  }

  &--dark {
    color: var(--primary-txt-cl);
  }
}

.testsSearch__inputWrapper {
  display: flex;
  gap: 12px;
}

.testsSearch__button {
  font-weight: var(--bold);
  display: flex;
  align-items: center;
  gap: 9px;
  border-radius: 5px;
  padding: 8px 22px 7px;

  &--light {
    background: var(--light-components-cl);
    box-shadow: 2px 2px 8px rgba(95, 117, 238, 0.11);
    color: var(--accent-cl);
  }

  &--dark {
    color: var(--secondary-txt-cl);
    background-color: var(--disabled-cl);
  }
}

.testsSearch__iconBook path {
  fill: var(--secondary-txt-cl);
}
