.section {
  margin: 0 auto;
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 767px) {
    gap: 30px;
  }
}

.formWrapper {
  font-size: var(--text-lg);
  text-align: center;
}

.stepTitle {
  margin: 0 auto 12px;
  max-width: 369px;

  font-size: var(--title);
  font-weight: var(--extrabold);

  @media (max-width: 767px) {
    margin-top: -6px;
    font-size: var(--subtitle);
  }
}

.stepSubtitle {
  margin-bottom: 12px;
  @media (max-width: 767px) {
    font-size: var(--text-md);
  }
}

.link {
  font-weight: var(--bold);
  text-decoration: underline;
}

.skip {
  display: block;
  margin-top: 16px;

  font-size: var(--text-md);
  font-weight: var(--bold);
  color: var(--accent-cl);

  background-color: transparent;
}
