.section {
  margin: 0 auto;
  padding-top: 30px;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
.logo {
  display: inline-block;
  margin-bottom: 30px;
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.formWrapper {
  font-size: var(--text-md);
  text-align: center;
}

.stepTitle {
  margin: 24px auto 12px;
  max-width: 239px;
  font-size: var(--subtitle);

  font-weight: var(--extrabold);
  &.thirdStep {
    max-width: 280px;
    @media (min-width: 768px) {
      max-width: 424px;
    }
  }

  @media (min-width: 768px) {
    margin-top: 40px;
    max-width: 369px;
    font-size: var(--title);
  }
}

.stepSubtitle {
  margin-bottom: 12px;
  @media (min-width: 768px) {
    font-size: var(--text-lg);
  }
}

.link {
  font-weight: var(--bold);
  text-decoration: underline;
}

.skip {
  display: block;
  margin-top: 16px;

  font-size: var(--text-md);
  font-weight: var(--bold);
  color: var(--accent-cl);

  background-color: transparent;
}
