.section {
  margin: 0 auto;
  padding-top: 9.77vh;

  display: flex;
  flex-direction: column;
  gap: 3.9vh;
}

.formWrapper {
  font-size: var(--text-lg);
  text-align: center;
}

.formTitle {
  margin: 0 auto 14px;
  max-width: 369px;

  font-size: var(--title);
  font-weight: var(--extrabold);
}

.logIn {
  margin-bottom: 20px;
}

.link {
  font-weight: var(--bold);
  text-decoration: underline;
}

.skipBtn {
  margin-top: 32px;

  font-size: (--text-md);
  font-weight: var(--bold);
  color: var(--accent-cl);

  background-color: transparent;
}
