.sideBarIsOpenDark {
  padding: 48px 0 40px;
  height: calc(100vh - 72px);
  position: sticky;
  width: 200px;
  background-color: var(--secondary-cl);
  transform: translateX(0);
  transition: var(--transition);
  border-right: 1px solid var(--components-cl);
}

.sideBarIsOpenLight {
  composes: sideBarIsOpenDark;
  background-color: #fff;
  border-right: 1px solid #fff;
  box-shadow: 2px 2px 8px rgba(95, 117, 238, 0.11);
}

.slideBarIsClosedDark {
  padding: 48px 0 40px;
  height: calc(100vh - 72px);
  position: sticky;
  width: 96px;
  background-color: var(--secondary-cl);
  transform: translateX(0);
  transition: var(--transition);
  border-right: 1px solid var(--components-cl);
}

.slideBarIsClosedLight {
  composes: slideBarIsClosedDark;
  background-color: #fff;
  border-right: 1px solid #fff;
  box-shadow: 2px 2px 8px rgba(95, 117, 238, 0.11);
}

.sideBar__companyBlock {
  display: flex;
  align-items: center;
  position: relative;
  padding: 16px 0 32px;

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--disabled-cl);
    bottom: 0;
    display: block;
    margin-bottom: 16px;
  }

  .sideBar__companyTitle {
    margin-left: 8px;
  }

  .sideBar__companyBtn {
    margin-left: 4px;
  }
}

.sideBar__btnDark {
  z-index: 1;
  position: absolute;
  right: -12px;
  top: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--components-cl);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color var(--transition), color var(--transition);
}

.sideBar__btnLight {
  composes: sideBar__btnDark;
  background-color: #e9f0ff;
}

.sideBar__iconOpenDark {
  display: block;
  stroke: var(--secondary-txt-cl);
  fill: var(--secondary-txt-cl);
  width: 11px;
  transform: rotate(0deg);
}

.sideBar__iconOpenLight {
  composes: sideBar__iconOpenDark;
  stroke: var(--accent-cl);
  fill: var(--accent-cl);
}

.slideBar__iconClosedDark {
  display: block;
  stroke: var(--secondary-txt-cl);
  fill: var(--secondary-txt-cl);
  width: 11px;
  transform: rotate(180deg);
}

.slideBar__iconClosedLight {
  composes: slideBar__iconClosedDark;
  stroke: var(--accent-cl);
  fill: var(--accent-cl);
}

.sideBar__listWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
