.titleModal {
  width: 223px;
  font-size: 16px;
  text-align: center;
  transition: color var(--transition);

  &--light {
    color: var(--light-primary-txt-cl);
  }

  &--dark {
    color: var(--primary-txt-cl);
  }
}
