.section {
  text-align: center;
  width: 100%;
  height: calc(100vh - 72px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  @media (min-width: 768px) {
    padding-top: 60px;
  }
  @media (min-width: 1280px) {
    padding-top: 90px;
  }
}

.wrapperDark {
  background-image: url('assets/svg/page-404.svg');
  background-repeat: no-repeat;
  background-position: center 60px;
  background-size: 280px 163px;
  margin: 0 auto;
  @media (min-width: 768px) {
    background-position: center 70px;
    background-size: 492px 286px;
  }
  @media (min-width: 1280px) {
    background-position: center 80px;
    background-size: 492px 286px;
  }
}

.wrapperLight {
  composes: wrapperDark;
  background-image: url('assets/images/page-404-light.png');
}

.titleDark {
  margin-bottom: 247px;
  font-size: var(--text-lg);
  line-height: 1.3;
  font-weight: var(--bold);
  @media (min-width: 768px) {
    margin-bottom: 366px;
    font-size: 36px;
    line-height: calc(40 / 36);
    font-weight: var(--extrabold);
  }
}

.titleLight {
  composes: titleDark;
  color: var(--primary-cl);
}

.link {
  display: inline-block;
  padding: 16px 0;
  width: 100%;
  max-width: 424px;
  border-radius: 5px;
  border: none;
  font-weight: var(--bold);
  color: var(--primary-txt-cl);
  background-color: var(--accent-cl);
}
