.testsSearch__wrapper {
  display: flex;
  margin-bottom: 20px;

  @media (max-width: 767.98px) {
    flex-direction: column;
    gap: 8px;
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    margin-bottom: 40px;
  }
}

.testsSearch__title {
  font-weight: 800;
  font-size: 30px;
}

.testsSearch__title--light {
  composes: testsSearch__title;
  color: var(--light-primary-txt-cl);
  transition: color var(--transition);
}

.testsSearch__title--dark {
  composes: testsSearch__title;
  color: var(--primary-txt-cl);
  transition: color var(--transition);
}

.testsSearch__input {
  @media (max-width: 767.98px) {
    width: calc(100% - 48px);
    height: 40px;
  }
}
