.timer__text,
.timer__time {
  max-width: 80px;
  font-weight: var(--bold);
  font-size: var(--text-lg);
  text-align: right;

  &--light {
    color: var(--accent-cl);
  }

  &--dark {
    color: var(--primary-txt-cl);
  }
}

.timer__text {
  margin-bottom: 4px;
}

