.form {
  max-width: 424px;
  min-width: 324px;
  align-items: center;
  text-align: left;
}

.floatingGroup {
  position: relative;
  margin-bottom: 30px;
}

.floatingLabel {
  position: absolute;
  color: var(--secondary-txt-cl);
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
  transition: color 250ms ease-in-out, top 250ms ease-in-out;
}

.floatingLabelPhone {
  composes: floatingLabel;
  left: 74px;
}

.input {
  width: 100%;
  height: 100%;
  padding: 13px 16px;
  font-size: 16px;
  line-height: 1;
  color: var(--primary-txt-cl);
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--disabled-cl);
  border-radius: 4px;

  background-color: transparent;
  &::placeholder {
    color: transparent;
  }
  &:focus {
    outline: none;
  }
  &:not(:placeholder-shown) + label {
    top: 0%;
    font-size: 12px;
    margin: 0px 4px;
    background-color: var(--primary-cl);
    padding: 0px 4px;
  }

  &:not(:placeholder-shown) + .floatingLabelPhone {
    left: 17px;
  }
}

.inputPhone {
  composes: input;
  padding-left: 74px;
}

.inputError {
  border-color: var(--error-cl);
}

.inputValid {
  border-color: var(--success-cl);
  color: var(--success-cl);
}
.errorMsg {
  position: absolute;
  bottom: -20px;
  left: 20px;
  font-size: 12px;
  color: var(--error-cl);
}

.phoneButton {
  position: absolute;
  top: 10px;
  left: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding-right: 10px;
  margin: 0;
  border-right: 1px solid var(--disabled-cl);
}

.btnSubmit {
  margin-top: 80px;
}
