.contentrapper {
  display: flex;
  flex-direction: column;
  gap: 1.95vh;

  font-size: var(--text-lg);
}

.formTitle {
  max-width: 370px;
  margin-bottom: 19px;
  font-size: var(--title);
  font-weight: var(--extrabold);
}

.formText {
  font-size: var(--text-lg);
  margin-bottom: 41px;
}

.list__item {
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 110px;
  }
}
