.list {
  display: flex;
  justify-content: center;
}

.stepWrapper {
  display: flex;
  align-items: center;
}

// CIRCLE
.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  @media (max-width: 767px) {
    width: 32px;
    height: 32px;
  }
}

.circleContainerActive {
  composes: circleContainer;
  border-radius: 50%;
  border: 1px solid var(--accent-cl);
}

.inactiveCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: var(--bold);
  @media (max-width: 767px) {
    width: 20px;
    height: 20px;
  }
}

.inactiveCircleDark {
  color: var(--secondary-txt-cl);
  background-color: var(--secondary-cl);
  border: 1px solid var(--disabled-cl);

  transition: color var(--transition), background-color var(--transition),
    border var(--transition);
}

.inactiveCircleLight {
  color: var(--accent-cl);
  background-color: var(--light-primary-cl);
  border: 1px solid var(--light-primary-cl);

  transition: color var(--transition), background-color var(--transition),
    border var(--transition);
}

.prevCircle {
  composes: inactiveCircle;
  background-color: var(--accent-cl);
}

.activeCircle {
  composes: prevCircle;
  color: var(--primary-txt-cl);
  border: none;

  transition: color var(--transition);
}

// LINE
.lineWrapper {
  display: flex;
  align-items: center;
  margin-right: 4px;
  margin-left: 4px;
}

.inactiveLine {
  width: 52px;
  height: 2px;
  @media (max-width: 767px) {
    width: 20px;
  }
}

.inactiveLineDark {
  background-color: var(--disabled-cl);
  transition: background-color var(--transition);
}

.inactiveLineLight {
  background-color: var(--light-primary-cl);
  transition: background-color var(--transition);
}

.blueLine {
  composes: inactiveLine;
  background-color: var(--accent-cl);
}

.halfBlueLineDark {
  composes: inactiveLine;
  background-image: linear-gradient(
    to right,
    var(--accent-cl) 50%,
    var(--disabled-cl) 50%
  );

  transition: background-image var(--transition);
}

.halfBlueLineLight {
  composes: inactiveLine;
  background-image: linear-gradient(
    to right,
    var(--accent-cl) 50%,
    var(--light-primary-cl) 50%
  );

  transition: background-image var(--transition);
}

.text {
  margin-top: 4px;
  margin-left: 6px;
  text-transform: uppercase;
  font-weight: var(--bold);
  font-size: 10px;
  line-height: 1.6;
  color: inherit;
  letter-spacing: 2px;
  @media (max-width: 767px) {
    font-size: 8px;
    margin-left: 0;
  }
}

.icon {
  path {
    fill: var(--primary-txt-cl);
  }
}
