:root {
  --accent-cl: #3653F2;

  /*BACKGROUND COLORS*/
  --primary-cl: #0A0E29;
  --secondary-cl:#080B25;
  --components-cl: #121533;

  /* TEXT COLORS */
  --primary-txt-cl: #F8F8F8;
  --secondary-txt-cl: #9D9FB5;

  /*BUTTONS*/
  --copy-btn-cl: #5599FF;

  /*OTHER COLORS*/
  --disabled-cl: #464962;
  --message-cl: #FFD84F;
  --success-cl: #47C05D;
  --success-cl-rgb: rgba(71, 192, 93, 0.3);
  --error-cl: #EE4343;
  --error-cl-rgb: rgba(238, 67, 67, 0.3);
  --purple-cl: #9747FF;
  --light-purple-cl: #7368F0;
  --wrong-cl: #FF3B6A;
  --right-cl: #2EAC61;

  /* TRANSITION */
  --transition: all 250ms linear;

  /*FONTS*/
  --font-family: 'Inter', sans-serif;
  --line-height: 1.3;

  /*FONT SIZE*/
  --title: 30px;
  --subtitle: 20px;
  --text-lg: 16px;
  --text-md: 14px;
  --text-sm: 12px;

  /*FONT WEIGHT*/
  --extrabold: 800;
  --bold: 700;
  --regular: 400;
}
