.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 122px 150px 122px;
  @media (max-width: 767px) {
    min-width: 280px;
    padding: 80px 10px;
  }
}

.imgContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}

.imageHand {
  width: 74px;
  height: 55px;
}

.imageStar {
  width: 81px;
  height: 77px;
  margin-left: 3.5px;
  margin-right: 21px;
}

.imageHeart {
  width: 62px;
  height: 56px;
}

.subtitle {
  width: 292px;
  font-weight: var(--bold);
  font-size: var(--subtitle);
  text-align: center;
  @media (max-width: 767px) {
    width: 199px;
    font-size: var(--text-lg);
  }
}
