.tabsList {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  color: var(--primary-txt-cl);
}

.tabsItem {
  padding: 0 8px 6px;
  position: relative;
  font-size: 14px;
  font-weight: var(--bold);
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 16px;
    padding: 0 8px 12px;
  }

  &--light {
    color: var(--secondary-txt-cl);
  }

  &--dark {
    color: var(--secondary-txt-cl);
  }

  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--secondary-txt-cl);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.tabsItemActive {
  padding: 0 8px 6px;
  position: relative;
  font-size: 14px;
  font-weight: var(--bold);
  cursor: pointer;

  @media (min-width: 768px) {
    font-size: 16px;
    padding: 0 8px 12px;
  }

  &--light {
    color: var(--light-primary-txt-cl);
    transition: color var(--transition);
  }

  &--dark {
    color: var(--primary-txt-cl);
    transition: color var(--transition);
  }

  &::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent-cl);
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
