.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 12px;
  @media (min-width: 768px) {
    padding: 60px 92px;
  }
}

.image {
  margin-bottom: 40px;
  width: 100px;
  height: 80px;
  @media (min-width: 768px) {
    width: 136px;
    height: 108px;
  }
}

.titleDark {
  width: 256px;
  font-weight: var(--extrabold);
  font-size: var(--subtitle);
  text-align: center;
  @media (min-width: 768px) {
    width: 351px;
    font-size: var(--title);
  }
}
.titleLight {
  composes: titleDark;
  color: var(--primary-cl);
}

.titleRestDark {
  composes: titleDark;
  margin-bottom: 40px;
  font-weight: var(--bold);
  font-size: var(--text-lg);
  @media (min-width: 768px) {
    font-size: var(--subtitle);
  }
}
.titleRestLight {
  composes: titleRestDark;
  color: var(--primary-cl);
}

.subtitleDark {
  composes: titleDark;
  width: 256px;
  font-weight: var(--bold);
  font-size: var(--text-md);
  text-align: center;
  @media (min-width: 768px) {
    width: 292px;
    font-size: var(--text-lg);
  }
}
.subtitleLight {
  composes: subtitleDark;
  color: var(--primary-cl);
}

.link {
  composes: subtitleDark;
  color: var(--accent-cl);
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.modalBtn {
  min-width: 130px;
  margin-top: 40px;
  @media (min-width: 768px) {
    margin-top: 60px;
  }
}
