.container {
  width: 424px;
}

.imageThumb {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.titleDark {
  margin-bottom: 8px;
  font-weight: var(--extrabold);
  font-size: var(--title);
  line-height: 1.3;
  text-align: center;
}
.titleLight {
  composes: titleDark;
  color: var(--primary-cl);
}

.subtitleDark {
  margin-bottom: 32px;
  font-size: var(--text-lg);
  text-align: center;
}
.subtitleLight {
  composes: subtitleDark;
  color: var(--primary-cl);
}

.list {
  margin-bottom: 32px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.iconWrapper {
  display: flex;
  align-items: center;
}

.iconThumbDark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 20px;
  background-color: var(--components-cl);
  border-radius: 10px;
}
.iconThumbLight {
  composes: iconThumbDark;
  background-color: var(--light-primary-cl);
}

.iconDark path {
  stroke: var(--primary-txt-cl);
}
.iconLight path {
  stroke: var(--accent-cl);
}

.textDark {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6;
}
.textLight {
  composes: textDark;
  color: var(--primary-cl);
}

.textRightDark {
  composes: textDark;
  width: 142px;
  text-align: right;
}
.textRightLight {
  composes: textRightDark;
  color: var(--primary-cl);
}

.textGrey {
  composes: textRightDark;
  color: var(--disabled-cl);
}

.recomendationsWrapperDark,
.recomendationsWrapperLight {
  margin-bottom: 60px;
}

.recomendationsWrapperDark::before,
.recomendationsWrapperLight::before {
  content: '';
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 24px;
  border: 1px solid #464962;
}

.recomendationsWrapperLight::before {
  border: 2px solid #e9f0ff;
}

.recTextDark {
  composes: textDark;
  margin-bottom: 8px;
}
.recTextLight {
  composes: recTextDark;
  color: var(--primary-cl);
}

.recTextSmall {
  color: var(--secondary-txt-cl);
}
