.label {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 8px;
}

.item {
  display: flex;
  align-items: center;
  gap: 24px;

  & label {
    min-width: 404px;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.input {
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid;
  border-radius: 4px;

  &--dark {
    background-color: var(--secondary-cl);
    border-color: var(--disabled-cl);
  }
  &--light {
    background-color: var(--light-primary-cl);
    border-color: var(--light-primary-cl);
    color: var(--primary-cl);
  }
}

.removeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;

  &--dark {
    background-color: var(--secondary-cl);
  }
  &--light {
    background-color: var(--light-primary-cl);
  }
}

.removeIcon {
  &--dark {
    path {
      stroke: var(--secondary-txt-cl);
    }
  }
  &--light {
    path {
      stroke: var(--accent-cl);
    }
  }
}

.addButton {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 19px;
  margin-bottom: 15px;
  color: var(--accent-cl);
  font-weight: 400;
  font-size: 14px;
}

.addIcon {
  path {
    stroke: var(--accent-cl);
  }
}

.asterixIcon {
  path {
    stroke: var(--wrong-cl);
    fill: var(--wrong-cl);
  }
}

.mr20 {
  margin-bottom: 20px;
}

.submitButton {
  display: block;
  width: 200px;
  margin-top: 40px;
  margin-left: auto;
}
