.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.2;
}

.crumbs {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  color: var(--secondary-txt-cl);
}

.crumbs::after {
  content: '/';
  margin-left: 10px;
  margin-right: 10px;
  color: var(--disabled-cl);
}

.crumbs:last-child::after {
  opacity: 0;
}

.active {
  color: var(--disabled-cl);
}
