.testsFilter {
  position: relative;
  display: flex;
  align-items: center;
  // gap: 10px;
}

.itemButton {
  margin-left: 10px;
}

.testsFilter__filter {
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 10px;

  &--light {
    color: var(--accent-cl);
    background-color: var(--light-components-cl);
    box-shadow: var(--light-primary-shadow);
    transition: background-color var(--transition), color var(--transition);

    .testsFilter__icon path {
      stroke: var(--accent-cl);
    }
  }

  &--dark {
    color: var(--primary-txt-cl);
    background-color: var(--components-cl);
    transition: background-color var(--transition), color var(--transition);
  }
}

.testsFilter__filter--dark:hover,
.testsFilter__filter--dark:focus {
  color: var(--accent-cl);

  .testsFilter__icon path {
    stroke: var(--accent-cl);
  }
}

.testsFilter__icon {
  width: 22px;
  height: 22px;

  path {
    stroke: var(--primary-txt-cl);
    transition: stroke var(--transition);
  }
}
