.menu__list {
  .menu__itemOpen {
    width: 200px;
    transform: translateX(0);
    transition: var(--transition);

    :hover.menu__navLink {
      color: var(--primary-txt-cl);
      background-color: var(--components-cl);

      svg {
        stroke: var(--primary-txt-cl);
        path {
          stroke: var(--primary-txt-cl);
        }
      }
    }
  }

  .menu__itemClose {
    width: 96px;
    transform: translateX(0);
    transition: var(--transition);

    :hover.menu__navLink {
      color: var(--primary-txt-cl);
      background-color: var(--components-cl);

      svg {
        stroke: var(--primary-txt-cl);
        path {
          stroke: var(--primary-txt-cl);
        }
      }
    }
  }

  .menu__navLink {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 16px 16px 16px 34px;
    color: var(--secondary-txt-cl);
  }

  .menu__navLinkActive {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 16px 16px 16px 34px;
    background-color: var(--accent-cl);
    color: var(--primary-txt-cl);

    svg {
      stroke: var(--primary-txt-cl);
      path {
        stroke: var(--primary-txt-cl);
      }
    }
  }

  .menu__iconDark {
    stroke: var(--secondary-txt-cl);
    path {
      stroke: var(--secondary-txt-cl);
    }
  }

  .menu__iconLight {
    stroke: var(--accent-cl);
    path {
      stroke: var(--accent-cl);
    }
  }
}
