.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-grow: 1;

  transition: background-color var(--transition), color var(--transition);

  &--light {
    background-color: var(--light-cards-cl);
  }

  &--dark {
    background-color: var(--primary-cl);
  }
}
