.authWrapperDark {
  display: flex;
  position: relative;
  min-height: 100vh;

  color: var(--primary-txt-cl);
  background-color: var(--primary-cl);

  transition: background-color var(--transition), color var(--transition);
}

.authWrapperLight {
  composes: authWrapperDark;

  color: var(--light-primary-txt-cl);
  background-color: var(--light-cards-cl);
}

.languageBtn {
  position: absolute;
}

.settingsWrapper {
  position: absolute;
  right: 155px;

  display: flex;
  gap: 12px;
}
