.testsPage {
  padding: 20px 60px 15px 64px;
  width: 100%;

  &--light {
    background-color: var(--light-cards-cl);
    transition: background-color var(--transition), color var(--transition);
  }

  &--dark {
    background-color: var(--primary-cl);
    transition: background-color var(--transition), color var(--transition);
  }
}

.testsPage__wrapper {
  display: flex;
  justify-content: space-between;
}
