.testsPage {
  padding: 22px 60px 15px 24px;
  height: calc(100vh - 72px);
  width: 100%;

  &--light {
    background-color: var(--light-cards-cl);
  }

  &--dark {
    background-color: var(--primary-cl);
  }
}

// MODAL
.image {
  margin-bottom: 32px;
}

.title {
  width: 351px;

  font-weight: var(--extrabold);
  font-size: var(--title);
  text-align: center;
}

.titleRest {
  composes: title;
  margin-bottom: 40px;

  font-weight: var(--bold);
  font-size: var(--subtitle);
}

.subtitle {
  composes: title;
  width: 292px;
  margin-bottom: 56px;
  font-weight: var(--bold);
  font-size: var(--text-lg);
  text-align: left;
}

.link {
  composes: subtitle;
  color: var(--accent-cl);
}

.modalBtn {
  min-width: 130px;
}
