.testsPage {
    padding: 22px 60px 15px 24px;
    height: calc(100vh - 72px);
    width: 100%;
  
    &--light {
      background-color: var(--light-cards-cl);
    }
  
    &--dark {
      background-color: var(--primary-cl);
    }
  }