.container {
  padding: 20px;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.groupTop {
  margin-bottom: 14px;
  text-align: left;
  @media (min-width: 768px) {
    display: flex;
    align-items: flex-end;
  }
}
.emailWrapper {
  margin-top: 16px;
  display: flex;
  @media (min-width: 768px) {
    margin-top: 0;
    margin-left: 25px;
  }
}
.emailIcon {
  width: 20px;
  height: 20px;
  path {
    stroke: var(--accent-cl);
  }
}
.emailText {
  margin-left: 15px;
}
