.container {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: var(--transition);
}
.button--light {
  background-color: var(--light-primary-cl);
}
.button--dark {
  background-color: var(--secondary-cl);
  @media (min-width: 1280px) {
    &:hover {
      box-shadow: var(--shadow-blue);
    }
  }
}

.buttonImg {
  width: 100%;
}

.icon {
  width: 24px;
  height: 24px;
}

.indicator {
  font-family: var(--font-family);
  font-size: var(--text-sm);
  line-height: 1.2;
  font-weight: var(--regular);
  position: absolute;
  display: block;
  top: 16px;
  right: 0px;
  min-width: 20px;
  height: 16px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  border-radius: 7.5px;
  color: var(--primary-txt-cl);
}
.indicator--green {
  background-color: var(--success-cl);
}
.indicator--yellow {
  background-color: var(--message-cl);
}

.popup {
  position: absolute;
  top: 71px;
  right: 0;
  z-index: 10;

  @media (min-width: 1280px) {
    top: 72px;
    left: -8px;
  }
}
