.popupWrapper {
  width: 200px;
  min-width: 200px;
  padding: 16px;
  border-radius: 4px;
  transition: var(--transition);
}
.popupWrapper--dark {
  composes: popupWrapper;
  background-color: var(--components-cl);
}
.popupWrapper--light {
  composes: popupWrapper;
  background-color: var(--light-components-cl);
}

.vievAllHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.vievAllVisible {
  display: block;
  width: 100%;
  text-align: right;
  margin-bottom: 8px;
  font-size: var(--text-sm);
  line-height: 1.2;
  color: var(--accent-cl);
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: var(--transition);
}
.item--dark {
  composes: item;
  border-bottom: 1px solid var(--primary-cl);
}
.item--light {
  composes: item;
  border-bottom: 1px solid var(--light-primary-cl);
}

.item:not(:last-child) {
  margin-bottom: 8px;
}

.text {
  margin-left: 8px;
  transition: var(--transition);
}
.text--dark {
  composes: text;
  color: var(--primary-txt-cl);
}
.text--light {
  composes: text;
  color: var(--light-primary-txt-cl);
}
