.header--common {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 60px;
  transition: var(--transition);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header--light {
  composes: header--common;
  color: var(--light-primary-txt-cl);
  background-color: var(--light-components-cl);
  box-shadow: var(--light-primary-shadow);
}
.header--dark {
  composes: header--common;
  color: var(--primary-txt-cl);
  background-color: var(--components-cl);
}

.container {
  display: flex;
  align-items: center;
}
