.form {
  margin-top: 20px;

  min-width: 424px;
  min-height: 323px;

  display: flex;
  flex-direction: column;
}

.inputsList {
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.phoneInput {
  padding-left: 74px;

  &:focus + label,
  &:not(:placeholder-shown) + label,
  &:-webkit-autofill + label {
    left: 16px;
  }

  & + label {
    left: 74px;
  }
}

.phoneButtonDark {
  padding-right: 10px;
  position: absolute;
  top: 10px;
  left: 14px;

  background-color: transparent;

  border-right: 1px solid var(--disabled-cl);

  cursor: pointer;
  outline: none;
}

.phoneButtonLight {
  composes: phoneButtonDark;
  border-right: 1px solid var(--light-primary-cl);
}

.btnSubmit {
  margin-top: auto;
}
