.form {
  margin-top: 20px;

  min-width: 424px;
  min-height: 323px;

  display: flex;
  flex-direction: column;
}

.inputsList {
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.phoneInput {
  padding-left: 74px;

  &:focus + span,
  &:not(:placeholder-shown) + span,
  &:-webkit-autofill + span {
    left: 16px;
  }

  & + span {
    left: 74px;
  }
}

.phoneButtonDark {
  padding-right: 10px;
  position: absolute;
  top: -5px;
  left: 14px;

  display: flex;
  align-items: center;

  background-color: transparent;

  cursor: pointer;
  outline: none;

  &::after {
    content: '';
    display: inline-block;
    margin-left: 20px;

    width: 1px;
    height: 30px;
    background-color: var(--disabled-cl);
  }
}

.phoneButtonLight {
  composes: phoneButtonDark;
  border-right: 1px solid var(--light-primary-cl);
}

.btnSubmit {
  margin-top: auto;
}
