.teamFilter {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 20px;
}

.teamFilter__title {
  font-size: 30px;
  font-weight: 800;

  &--light {
    color: var(--light-primary-txt-cl);
  }

  &--dark {
    color: var(--primary-txt-cl);
  }
}

.teamFilter__wrapper {
  display: flex;
  gap: 12px;
}

.teamFilter__item {
  padding-bottom: 4px;
}
