.pageContainer {
  padding: 20px 60px 15px 64px;
  width: 100%;

  transition: background-color var(--transition);

  &--light {
    transition: var(--transition);
    background-color: var(--light-cards-cl);
  }

  &--dark {
    transition: var(--transition);
    background-color: var(--primary-cl);
  }
}

.pageWrapper {
  // padding: 20px;
  min-width: 593px;
  max-width: 1000px;
  // border-radius: 12px;

  position: relative;
  &--light {
    color: var(--light-primary-txt-cl);
    // border: 1px solid var(--primary-txt-cl);
    // background-color: var(--light-components-cl);
    transition: color var(--transition);
  }

  &--dark {
    color: var(--primary-txt-cl);
    // border: 1px solid var(--accent-cl);
    // box-shadow: 1px 6px 17px rgba(158, 170, 237, 0.13);
    // background-color: var(--components-cl);
    transition: color var(--transition);
  }
}
