.pageWrapper {
  padding: 20px;
  min-width: 593px;
  border: 1px solid var(--accent-cl);
  border-radius: 8px;
  background-color: var(--components-cl);
  box-shadow: 1px 6px 17px rgba(158, 170, 237, 0.13);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.groupTop {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.emailIcon {
  margin-left: 28px;
  width: 20px;
  height: 20px;
  path {
    stroke: var(--accent-cl);
  }
}
.emailText {
  margin-left: 15px;
}
.modalBtn {
  margin-top: 60px;
}
.titleModal {
  font-size: 16px;
}
