.progressBar__info {
  font-weight: var(--bold);
  font-size: var(--text-lg);
  color: var(--primary-txt-cl);
  margin-bottom: 16px;
}

.progressBar__list {
  width: 946px;
  display: flex;
  gap: 4px;
}

.progressBar__line {
  width: max(15px, 1%);
  // width: clamp(30px, 15px, 1%);
  height: 4px;
  background-color: var(--disabled-cl);
  border-radius: 4px;
}

.progressBar__line--right {
  background-color: var(--accent-cl);
}

.progressBar__line--false {
  background-color: var(--wrong-cl);
}
