.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--bold);
  border-radius: 5px;
  border: none;
  padding: 8px 18px;
  gap: 5px;
}

.black {
  background-color: var(--components-cl);
}

.blue {
  background-color: var(--accent-cl);
}
