.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--bold);
  border-radius: 5px;
  border: none;
  padding: 8px 18px;
  gap: 5px;
  color: var(--primary-txt-cl);
}

.black {
  background-color: var(--components-cl);
}

.blue {
  background-color: var(--accent-cl);
}

.icon path {
  fill: var(--primary-txt-cl);
}
