.wrapper {
  margin-bottom: 34px;
}

.title {
  font-size: var(--subtitle);
  font-weight: var(--bold);
  line-height: 1.3;
  margin-bottom: 16px;

  transition: color var(--transition);

  @media (min-width: 768px) {
    font-size: var(--title);
    font-weight: var(--extrabold);
    margin-bottom: 0;
  }

  &--light {
    color: var(--light-primary-txt-cl);
  }

  &--dark {
    color: var(--primary-txt-cl);
  }
}

.gridColumns {
  grid-template-columns: 0.5fr 2fr 1fr 1fr;
}

.pagination {
  position: absolute;
  right: 60px;
  bottom: 35px;
}
