.wrapper {
  background-color: var(--components-cl);
  height: auto;
  width: 492px;
  border-radius: 4px;
  padding: 20px 34px;
}
.title {
  font-size: 20px;
  font-weight: 700;
}

.userAvatar {
  margin: 22px 0px;
}
