.wrapper {
  height: auto;
  width: 492px;
  border-radius: 4px;
  padding: 20px 34px;

  &--dark {
    background-color: var(--components-cl);
  }
  &--light {
    background-color: var(--light-components-cl);
    color: var(--components-cl);
  }
}
.title {
  font-size: 20px;
  font-weight: 700;
}

.userAvatar {
  margin: 22px 0px;
}
