.form {
  margin-top: 20px;

  min-width: 424px;
  min-height: 323px;

  display: flex;
  flex-direction: column;
}

.floatingGroup {
  position: relative;
}

.floatingLabel {
  position: absolute;
  color: inherit;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
  transition: color 250ms ease-in-out, top 250ms ease-in-out;
}

.inputDark {
  width: 100%;
  height: 100%;
  padding: 13px 16px;
  font-size: 16px;
  line-height: 1;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--disabled-cl);
  border-radius: 4px;

  background-color: transparent;
  &::placeholder {
    color: transparent;
  }
  &:focus {
    outline: none;
  }

  &:focus + label,
  &:not(:placeholder-shown) + label,
  &:-webkit-autofill + label {
    top: 0%;
    font-size: 12px;
    margin: 0px 4px;
    background-color: var(--primary-cl);
    padding: 0px 4px;
  }

  &:focus + .floatingLabelPhone,
  &:not(:placeholder-shown) + .floatingLabelPhone,
  &:-webkit-autofill + .floatingLabelPhone {
    left: 17px;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    caret-color: var(--light-primary-cl);
    -webkit-text-fill-color: var(--primary-txt-cl);
    -webkit-background-clip: text;
  }
}

.inputLight {
  composes: inputDark;

  border: 1px solid var(--light-primary-cl);
  box-shadow: 2px 2px 8px rgba(95, 117, 238, 0.11);

  &:focus + label,
  &:not(:placeholder-shown) + label {
    background-color: var(--primary-txt-cl);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    caret-color: inherit;
    -webkit-text-fill-color: inherit;
    -webkit-background-clip: text;
  }
}

.inputPhoneDark {
  composes: inputDark;
  padding-left: 74px;
}

.inputPhoneLight {
  composes: inputLight;
  padding-left: 74px;
}

.errorMsg {
  position: absolute;
  bottom: -20px;
  left: 15px;
  font-size: 12px;
  color: var(--error-cl);
}

.floatingLabelError input {
  color: var(--error-cl);
}

.floatingLabelError * {
  border-color: var(--error-cl);

  path {
    stroke: var(--error-cl);
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: var(--error-cl);
    -webkit-background-clip: text;
  }
}

.floatingLabelValid input {
  color: var(--success-cl);
}

.floatingLabelValid .inputPhone {
  color: var(--success-cl);
  border-color: var(--success-cl);
}

.floatingLabelValid * {
  border-color: var(--success-cl);

  path {
    stroke: var(--success-cl);
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: var(--success-cl);
    -webkit-background-clip: text;
  }
}

.btnSubmit {
  margin-top: auto;
}
