.form {
  margin-top: 20px;

  min-width: 424px;
  min-height: 323px;

  display: flex;
  flex-direction: column;
}

.inputsList {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btnSubmit {
  margin-top: auto;
}

.label {
  &::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;

    position: absolute;
    top: -2px;
    right: 12px;

    background-image: url('assets/svg/link.svg');
  }

  input {
    padding-right: 40px;
  }
}
