.profilePage {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 28px;
  padding: 32px 60px 52px 64px;
  width: 100%;

  &--light {
    transition: var(--transition);
    background-color: var(--light-cards-cl);
  }

  &--dark {
    transition: var(--transition);
    background-color: var(--primary-cl);
  }
}
