.form {
  margin-top: 20px;
  max-width: 424px;
}

.inputList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.checkboxLabel {
  margin-top: 22px;
  margin-bottom: 26px;
  padding-left: 36px;

  font-size: 14px;
  text-align: left;

  color: var(--secondary-txt-cl);

  cursor: pointer;
}

.boxOrDark {
  margin: 12px auto 20px;

  display: flex;
  align-items: center;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 50%;

    background-color: var(--disabled-cl);

    transition: background-color var(--transition);
  }

  &::before {
    margin-right: 19px;
  }

  &::after {
    margin-left: 19px;
  }
}

.boxOrLight {
  composes: boxOrDark;

  &::before,
  &::after {
    background-color: var(--light-primary-cl);

    transition: background-color var(--transition);
  }
}

.showPasswordButton {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);

  line-height: 1;

  background-color: transparent;

  border: none;
  cursor: pointer;
  outline: none;
}

.iconEye {
  path {
    stroke: var(--secondary-txt-cl);
  }
}

.googleButtonDark {
  padding: 12px 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
}

.googleButtonLight {
  composes: googleButtonDark;

  color: inherit;
  border: 1px solid #e9f0ff;
  box-shadow: 2px 2px 8px rgba(95, 117, 238, 0.11);
}

.googleIcon {
  margin-right: 8px;
}
