.fadeIn {
  animation: fade-in 0.3s ease-in-out;
}

.fadeOut {
  animation: fade-out 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    transform: translate(-50%, -50%) scale(0.7);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fade-out {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0.7);
  }
}

.backdropDark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 14, 41, 0.7);
  z-index: 100;
}
.backdropLight {
  composes: backdropDark;
  background-color: rgba(157, 159, 181, 0.7);
}

.modalDark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--components-cl);
  border-radius: 12px;

  border: 1px solid var(--accent-cl);
  box-shadow: 1px 6px 17px rgba(158, 170, 237, 0.13);
}
.modalLight {
  composes: modalDark;
  background-color: var(--light-components-cl);
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.closeModalBtnDark {
  position: absolute;
  top: 16px;
  right: 16px;

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.closeModalBtnLight {
  composes: closeModalBtnDark;
  & path {
    stroke: var(--accent-cl);
  }
}
