.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 14, 41, 0.7);
  z-index: 20;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  flex-direction: column;
  width: 536px;
  min-height: 535px;

  background-color: var(--components-cl);
  border-radius: 12px;
  padding: 16px;
}

.closeModalBtn {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* z-index: 999; */
}

.text {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: red;
}

.textRest {
  color: blue;
}

.btnContainer {
  display: flex;
  justify-content: center;
}
