.menuBtn {
  width: 40px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  color: var(--disabled-cl);
}

.blue--light, .blue--dark {
  background-color: var(--accent-cl);

  .iconGrid path {
    fill: var(--primary-txt-cl);
  }

  .iconGrid4 path {
    stroke: var(--primary-txt-cl);
  }
}

.black--light {
  background-color: var(--light-primary-cl);

  .iconGrid path {
    fill: var(--accent-cl);
  }

  .iconGrid4 path {
    stroke: var(--accent-cl);
  }
}

.black--dark {
  background-color: var(--components-cl);

  .iconGrid path {
    fill: var(--secondary-txt-cl);
  }

  .iconGrid4 path {
    stroke: var(--secondary-txt-cl);
  }
}


