.menuBtn {
  padding: 8px;
  border-radius: 10px;
  border: none;
  color: var(--disabled-cl);
}

.blue {
  background-color: var(--accent-cl);
}

.black {
  background-color: var(--components-cl);
}
