.notificationsPage {
  @media (max-width: 767.98px) {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.notificationsPage__wrapper {
  @media (max-width: 767.98px) {
    position: relative;
  }
}

.notificationsPage__searchWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (max-width: 767.98px) {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
  }
}

.pageTitle {
  font-family: var(--font-family);
  font-weight: var(--extrabold);
  font-size: var(--title);
  transition: var(--transition);
}

.pageTitle--dark {
  composes: pageTitle;
  color: var(--primary-txt-cl);
}

.pageTitle--light {
  composes: pageTitle;
  color: var(--light-primary-txt-cl);
}

.input {
  @media (max-width: 767.98px) {
    width: calc(100% - 48px);
    height: 40px;
  }
}

.inputIcon {
  display: block;
  fill: var(--secondary-txt-cl);
}

.notificationsPage__filterWrapper {
  display: flex;
  justify-content: space-between;
}

.notificationsPage__buttonsContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  @media (min-width: 768px) {
    position: relative;
  }
}
