.notificationsPage {
  @media (max-width: 767.98px) {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}

.flexContainerTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (max-width: 767.98px) {
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
  }
}

.page__wrapper--mobile {
  @media (max-width: 767.98px) {
    position: relative;
  }
}

.pageTitle {
  font-family: var(--font-family);
  font-weight: var(--extrabold);
  font-size: var(--title);
  transition: var(--transition);
}
.pageTitle--dark {
  color: var(--primary-txt-cl);
}
.pageTitle--light {
  color: var(--light-primary-txt-cl);
}
.input {
  @media (max-width: 767.98px) {
    width: calc(100% - 48px);
    height: 40px;
  }
}
.inputIcon {
  display: block;
  fill: var(--secondary-txt-cl);
}

.flexContainerTabs {
  display: flex;
  justify-content: space-between;
}

.buttonsContainer {
  display: flex;
  align-items: center;
}
.itemButton {
  margin-left: 10px;

  @media (max-width: 767.98px) {
    display: none;
  }

}
.filterButton {
  padding: 9px;
  border-radius: 10px;
  font-size: 0;

  @media (max-width: 767.98px) {
    position: absolute;
    display: block;
    top: 48px;
    right: 0;
  }

  @media (min-width: 1280px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: var(--regular);
    font-size: var(--text-md);
    color: var(--primary-txt-cl);
  }

  &--light {
    color: var(--accent-cl);
    background-color: var(--light-components-cl);
    box-shadow: var(--light-primary-shadow);

    .filterIcon path {
      stroke: var(--accent-cl);
    }
  }

  &--dark {
    color: var(--primary-txt-cl);
    background-color: var(--components-cl);
    transition: color var(--transition);
  }
}

.filterButton--dark:hover,
.filterButton--dark:focus {
  color: var(--accent-cl);

  .filterIcon path {
    stroke: var(--accent-cl);
  }
}

.filterIcon {
  width: 22px;
  height: 22px;

  path {
    stroke: var(--primary-txt-cl);
    transition: stroke var(--transition);
  }
}
