.section {
  padding-top: 90px;
  text-align: center;
  width: 100%;
}

.titleDark {
  font-weight: 800;
  font-size: 36px;
  line-height: calc(40 / 36);
  margin-bottom: 40px;
}

.titleLight {
  composes: titleDark;
  color: var(--primary-cl);
}

.button {
  width: 424px;
}

.imageWrapper {
  position: relative;
  width: 388px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.gearBlue {
  position: absolute;
  top: 30px;
  left: 188px;
  animation: rotateBlue linear 10000ms infinite;
}

.gearGray {
  position: absolute;
  top: 50px;
  left: 132px;
  animation: rotateGray linear 10000ms infinite;
}

.circleBlue {
  position: absolute;
  top: 0;
  left: 60px;
  animation: blueUpDown linear 1600ms infinite;
}

.circleGray {
  position: absolute;
  top: 40px;
  right: 20px;
  animation: grayUpDown linear 1600ms infinite;
}

@keyframes blueUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes grayUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotateBlue {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateGray {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
