.section {
  padding-top: 90px;
  text-align: center;
  width: 100%;
}

.wrapperDark {
  background-image: url('assets/images/not-found.png');
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: 388px 208px;
  margin: 0 auto;
}

.wrapperLight {
  composes: wrapperDark;
  background-image: url('assets/images/not-found-light.png');
}

.titleDark {
  font-weight: 800;
  font-size: 36px;
  line-height: calc(40 / 36);
  margin-bottom: 288px;
}

.titleLight {
  composes: titleDark;
  color: var(--primary-cl);
}

.button {
  width: 424px;
}
