.card {
  display: flex;
  align-items: center;
}
.imgThumb {
  position: relative;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.status--common {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: var(--transition);
}
.status--green-dark {
  composes: status--common;
  border: 2px solid var(--primary-cl);
  background-color: var(--success-cl);
}
.status--yellow-dark {
  composes: status--common;
  border: 2px solid var(--primary-cl);
  background-color: var(--message-cl);
}
.status--gray-dark {
  composes: status--common;
  border: 2px solid var(--primary-cl);
  background-color: var(--secondary-txt-cl);
}
.status--green-light {
  composes: status--common;
  border: 2px solid var(--light-primary-cl);
  background-color: var(--success-cl);
}
.status--yellow-light {
  composes: status--common;
  border: 2px solid var(--light-primary-cl);
  background-color: var(--message-cl);
}
.status--gray-light {
  composes: status--common;
  border: 2px solid var(--light-primary-cl);
  background-color: var(--secondary-txt-cl);
}

.info {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}
.name--common {
  margin-bottom: 5px;
  font-family: var(--font-family);
  font-size: var(--text-lg);
  font-weight: var(--bold);
  transition: var(--transition);
}
.name--light {
  composes: name--common;
  color: var(---light-primary-txt-cl);
}
.name--dark {
  composes: name--common;
  color: var(--primary-txt-cl);
}
.role--common {
  font-family: var(--font-family);
  font-size: var(--text-sm);
  line-height: 1.16;
}
.role--light {
  composes: role--common;
  color: var(--light-secondary-txt-cl);
}
.role--dark {
  composes: role--common;
  color: var(--secondary-txt-cl);
}
