.label input {
  display: none;
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 27px;
    transform: translateY(-50%);

    display: block;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}

.labelPassTest {
  composes: label;
  width: 536px;
  font-weight: 500;
  font-size: 17px;
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 20px 20px 20px 69px;
  height: 100%;
  transition: box-shadow var(--transition);

  &:hover, &:focus {
    box-shadow: var(--hover-shadow);
  }

  &--light {
    color: var(--light-primary-txt-cl);
    background: var(--light-components-cl);
    box-shadow: var(--light-primary-shadow);

    &::before {
      background-color: var(--light-primary-cl);
    }
  }

  &--dark {
    color: var(--primary-txt-cl);
    background-color: var(--components-cl);

    &::before {
      background-color: var(--disabled-cl);
    }
  }
}

.label--checked {
  &::before {
    background-color: transparent;
    border: 2px solid var(--accent-cl);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);

    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--accent-cl);
  }
}

.labelPassTest--checked {
  composes: label--checked;
  border: 2px solid var(--accent-cl);
}

.labelPassTest--wrong {
  composes: label--checked;
  border: 2px solid var(--wrong-cl);

  &::before {
    border: 2px solid var(--wrong-cl);
  }

  &::after {
    background-color: var(--wrong-cl);
  }
}

.labelPassTest--right {
  composes: label--checked;
  border: 2px solid var(--right-cl);

  &::before {
    border: 2px solid var(--right-cl);
  }

  &::after {
    background-color: var(--right-cl);
  }
}

