.section {
  margin: 0 auto;
  padding-top: 19.5vh;

  font-size: var(--text-lg);
  text-align: center;
}

.formTitle {
  margin-bottom: 16px;
  font-size: var(--title);
  font-weight: var(--extrabold);
}

.logIn {
  margin-bottom: 28px;
}

.link {
  font-weight: var(--bold);
  text-decoration: underline;
}