.section {
  margin: 0 auto;
  padding-top: 30px;
  font-size: var(--text-md);
  max-width: 280px;
  @media (min-width: 768px) {
    text-align: center;
    max-width: 424px;
  }
}

.logo {
  display: inline-block;
}

.loginTitle {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
  font-size: var(--subtitle);
  font-weight: var(--extrabold);
  text-align: center;

  @media (min-width: 768px) {
    margin-top: 150px;
    font-size: var(--title);
  }
}

.loginSubtitle {
  margin: 0 auto;
  font-size: var(--text-sm);
  text-align: center;

  color: var(--middle-gray-text-cl);
}

.link {
  font-weight: var(--bold);
  font-size: var(--text-sm);
  letter-spacing: 0.4px;
  text-decoration: underline;
  color: var(--middle-gray-text-cl);
}
