.section {
  margin: 0 auto;
  padding-top: 30px;

  font-size: var(--text-lg);
  text-align: center;
}

.loginTitle {
  margin-top: 150px;
  margin-bottom: 12px;

  font-size: var(--title);
  font-weight: var(--extrabold);
}

.loginSubtitle {
  margin-bottom: 20px;
}

.link {
  font-weight: var(--bold);
  text-decoration: underline;
}
