.form {
  max-width: 424px;
  min-width: 324px;
  align-items: center;
  text-align: left;
}

.checkboxLabel {
  padding-left: 36px;
  color: var(--secondary-txt-cl);
  font-size: 14px;
  margin-top: 28px;
  margin-bottom: 44px;

  cursor: pointer;
}

.floatingGroup {
  position: relative;
  margin-bottom: 30px;
}

.floatingLabel {
  position: absolute;
  color: var(--secondary-txt-cl);
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
  transition: color 250ms ease-in-out, top 250ms ease-in-out;
}

.input {
  width: 100%;
  height: 100%;
  padding: 13px 16px;
  font-size: 16px;
  line-height: 1;
  color: var(--primary-txt-cl);
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--disabled-cl);
  border-radius: 4px;

  background-color: transparent;
  &::placeholder {
    color: transparent;
  }
  &:focus {
    outline: none;
  }
  &:not(:placeholder-shown) + label {
    top: 0%;
    font-size: 12px;
    margin: 0px 4px;
    background-color: var(--primary-cl);
    padding: 0px 4px;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: var(--primary-txt-cl);
    -webkit-background-clip: text;
  }
}

.errorMsg {
  position: absolute;
  bottom: -20px;
  left: 20px;
  font-size: 12px;
  color: var(--error-cl);
}

.boxOr {
  margin: 16px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  &::before,
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    background-color: var(--disabled-cl);
  }
  &::before {
    margin-right: 19px;
  }
  &::after {
    margin-left: 19px;
  }
}

.showPasswordButton {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
}
.iconEye {
  path {
    stroke: var(--secondary-txt-cl);
  }
}

.floatingLabelError .input {
  color: var(--error-cl);
}

.floatingLabelError * {

  border-color: var(--error-cl);

  path {
    stroke: var(--error-cl);
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: var(--error-cl);
    -webkit-background-clip: text;
  }
}

.floatingLabelValid .input {
  color: var(--success-cl);
}

.floatingLabelValid * {

  border-color: var(--success-cl);

  path {
    stroke: var(--success-cl);
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: var(--success-cl);
    -webkit-background-clip: text;
  }
}
.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  font-weight: 400;
}
.googleIcon {
  margin-right: 8px;
}
