.wrapper {
  width: 334px;
  padding: 11px 20px;
  font-weight: 400;
  font-size: 14px;
  background: #080b25;
  color: #3653f2;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.icon {
  position: absolute;
  top: 8px;
  right: 24px;

  path {
    stroke: #3653f2;
  }
}
