.testWrapper {
  max-width: 1096px;
  margin: 0 auto;
  padding-top: 50px;
  height: calc(100vh - 100px);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.testTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 40px;

  &--light {
    color: var(--light-primary-txt-cl);
  }

  &--dark {
    color: var(--primary-txt-cl);
  }
}

.questionWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(536px, 1fr));
  row-gap: 20px;
  column-gap: 24px;
  color: var(--primary-txt-cl);
  margin-bottom: 40px;
}

.questionCode {
  display: flex;
  align-items: center;
  padding: 25px;
  border-radius: 5px;
  background: var(--components-cl);
}

.questionList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(536px, 1fr));
  row-gap: 20px;
  column-gap: 24px;
}

.questionLabel {
  display: block;
  border-radius: 5px;
  padding: 20px;
  background: var(--components-cl);
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}
