.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 63px 40px 63px;
  @media (max-width: 1279px) {
    padding: 60px 38px;
  }
  @media (max-width: 767px) {
    padding: 60px 10px;
  }
}

.image {
  margin-bottom: 36px;
}

.subtitle {
  width: 292px;
  margin-bottom: 80px;
  font-weight: var(--bold);
  font-size: var(--subtitle);
  text-align: center;
  @media (max-width: 1279px) {
    width: 199px;
    margin-bottom: 40px;
    font-size: var(--text-lg);
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.cancelBtn {
  min-width: 200px;
  margin-right: 10px;
  @media (max-width: 1279px) {
    min-width: 120px;
    margin-right: 20px;
  }
}

.logOutBtn {
  composes: cancelBtn;
  margin-right: 0;
  background-color: transparent;
  border: 2px solid var(--accent-cl);
  color: var(--accent-cl);

  &:hover {
    filter: drop-shadow(1px 2px 8px rgba(1, 37, 233, 0.54));
    background-color: transparent;
  }
}
