.wrapperDark {
  background-color: var(--primary-cl);
  display: flex;

  transition: background-color var(--transition), color var(--transition);

  height: calc(100vh - 72px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 7px;
    background-color: var(--components-cl);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--components-cl);
    border-radius: 32px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--disabled-cl);
    border-radius: 32px;
  }
}

.wrapperLight {
  composes: wrapperDark;
  background-color: var(--light-cards-cl);
}

.content {
  width: 100%;
}

.testingWrapperDark {
  composes: wrapperDark;
  position: relative;
  height: calc(100vh - 100px);
}

.testingWrapperDark::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: var(--components-cl);
}

.testingWrapperLight {
  composes: testingWrapperDark;
  position: relative;
  background-color: var(--light-cards-cl);
}

.testingWrapperLight::after {
  background-color: var(--light-components-cl);
}
