.wrapper {
  width: 493px;
  padding: 20px 20px 284px 20px;
  border-radius: 4px;

  &--dark {
    background-color: var(--components-cl);
  }
  &--light {
    background-color: var(--light-components-cl);
    color: var(--components-cl);
  }
}

.title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
}

.description {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
}

.linkWrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;

  & label {
    min-width: 231px;
  }
}

.input {
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #464962;
  border-radius: 4px;
  background: #080b25;
}

.codeWrapper {
  margin-bottom: 22px;

  & label {
    width: 424px;
  }
}

.subTitle {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 14px;

  path {
    stroke: #ff3b6a;
    fill: #ff3b6a;
  }
}

.qrCodeWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  color: #3653f2;
}
