.teamList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16px;
  column-gap: 20px;
  @media (min-width: 480px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 16px;
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 24px;
  }
}

// Варіант з пагінацією, поки не видаляти!!!

// .teamList__pagination {
//   position: absolute;
//   right: 60px;
//   bottom: 35px;
// }
