.teamList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 16px;
  column-gap: 24px;
}

// Варіант з пагінацією, поки не видаляти!!!

// .teamList__pagination {
//   position: absolute;
//   right: 60px;
//   bottom: 35px;
// }
