.table {
  width: 100%;
  border-collapse: collapse;

  &--light {
    color: var(--primary-cl);
  }

  &--dark {
    color: var(--light-components-cl);
  }
}

// Поки не видаляти, треба подумати як відображати іконки
// .icons:first-child {
//   background-image: url('../../../assets/svg/trophy.svg');
//   background-repeat: no-repeat;
//   color: transparent;
// }
