.table {
  width: 100%;
  border-collapse: collapse;
}

.head {
  display: block;
  margin-bottom: 15px;
}

.headrow {
  padding-bottom: 11px;
  border-bottom: 1px solid var(--secondary-txt-cl);
  display: grid;
  width: 100%;
}

.tablerow {
  height: 64px;
  background-color: var(--components-cl);
  display: grid;
  width: 100%;
  border-radius: 10px;
}

.tablerow:not(:last-child) {
  margin-bottom: 4px;
}

.data {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.icon {
  margin-left: 4px;
}

.cursor {
  cursor: pointer;
}
