.table {
  width: 100%;
  border-collapse: collapse;

  &--light {
    color: var(--primary-cl);
  }

  &--dark {
    color: var(--light-components-cl);
  }
}

.head {
  display: block;
  margin-bottom: 15px;
}

.headrow {
  padding-bottom: 11px;

  display: grid;
  width: 100%;

  &--light {
    border-bottom: 1px solid var(--secondary-txt-cl);
  }

  &--dark {
    border-bottom: 1px solid var(--light-primary-cl);
  }
}

.tablerow {
  height: 64px;

  display: grid;
  width: 100%;
  border-radius: 10px;

  &--light {
    background-color: var(--light-components-cl);
  }

  &--dark {
    background-color: var(--components-cl);
  }
}

.tablerow:not(:last-child) {
  margin-bottom: 4px;
}

.data {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.icon {
  margin-left: 4px;

  &--light {
    stroke: var(--accent-cl);
  }

  &--dark {
    stroke: var(--light-components-cl);
  }
}

.cursor {
  cursor: pointer;
}
