.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: var(--text-sm);
  line-height: 1.2;
  margin-bottom: 16px;
  @media (min-width: 768px) {
    margin-bottom: 8px;
  }
}

.crumbsDark {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  color: var(--primary-txt-cl);

  transition: color var(--transition);
}

.crumbsLight {
  composes: crumbsDark;
  color: var(--secondary-txt-cl);
}

.crumbsDark::first-letter,
.crumbsLight::first-letter {
  text-transform: capitalize;
}

.crumbsDark::after,
.crumbsLight::after {
  content: '/';
  margin-left: 10px;
  margin-right: 10px;
  color: var(--disabled-cl);
}

.crumbsDark:last-child::after,
.crumbsLight:last-child::after {
  opacity: 0;
}

.active {
  color: var(--disabled-cl);
}
